/* Stylesheet for playdeb.net written by Tyler Mulligan of www.detrition.net */

/* Fonts */
@font-face {
	font-family: Bebas;
	src: url('fonts/Bebas.ttf');
}

/* General / Global */
* {
	padding:0;
	margin:0;
}
body {
	background:#181600 url('img/page_bg.png') repeat-x 0 0;
	font-family:Sans Serif, Verdana, Arial, Tahoma;
}
h1 {
	font-size:30px;
	padding:14px 10px 4px 10px;
	color:#ccc;
}
p {
	padding:10px;
}
a:active, a:focus { outline: 0; } /* fixes annoying image border links bug on firefox */
#container, #header, #content_frame, #footer { width:910px; }
#container { margin:30px auto; }
.selected { font-weight:bold; }

/* Header */
#header {
	position:relative;
	height:149px;
	background:url('img/playdeb_header.png') no-repeat 0 0; */
}
#logo, #playdeb, #playdeb_slogan, #filter_status {
	display:block;
	position:absolute;	
}
#logo {
	width:115px;
	height:120px;
	top:17px;
	left:19px;
}
a#logo:hover { background:url('img/playdeb_logo.png') no-repeat 0 0; }
#playdeb {
	width:500px;
	height:48px;
	left:140px;
	top:42px;
	font-size:44px;	
	color:#bababa;
	text-decoration: none;
	font-family: Lucida Grande, Sans-Serif;
	text-shadow:5px 5px #2D2D2D;
}

#playdeb_slogan {
	width:500px;
	height:48px;
	left:140px;
	top:98px;
	font-size:20px;
	color: #ccc;
	text-decoration: none;
	text-shadow:5px 5px #2D2D2D;
}

#filter_status {
	width:600px;
	height:22px;
	left:140px;
	top:130px;
	font-size:14px;
	color: #ccc;
	text-decoration: none;
	font-weight:bold;
	
}

#filter_status a {
	color:#fff;
	text-decoration:none;
}
#filter_status a:hover { text-decoration:underline; }

a#playdeb:hover { 
	color: #ffffff;
}

/* a#playdeb:hover { background:url('img/playdeb.png') no-repeat 0 0; } */
#search_top h2 {
	font-size:16px;
	height:16px;
	width:130px;
#	background:url('img/find_a_game.png') no-repeat 0 0;
	position:absolute;
	top:21px;
	left:550px;
	color:#bababa;
	text-transform:uppercase;
	font-family:Bebas,Arial,Helvetica,Sans-serif;
#	word-spacing: -1px;
}
.opera10 #search_top h2, .ff3 #search_top h2, .webkit #search_top h2 {
	top:19px;
	left:557px;
}

#search_box_top {
	font-size:14px;
	font-weight:bold;
	color:#000;
	height:28px;
	width:222px;
	background:url('img/search_box_top.png') no-repeat 0 0;
	border:0;
	padding:6px 0 0 6px;
	margin:0;
	position:absolute;
	top:16px;
	left:674px;
}
/* opera fix */
.opera #search_box_top { background-position: 0px 6px; top: 10px;}

#search_top p#login_note {
	float:right;
	margin:38px 8px 0 0;
	color:#777;
}

#search_top p#login_filter {
	float:right;
	margin:38px 8px 0 0;
	color:#777;
}

#search_top a { color:#999; }
#search_top a:hover { color:#bbb; }

/* Main Menu */
#main_menu {
	height:55px;
	width:910px;
	background:url('img/menu_bg.png') repeat-x 0 0;
}
#main_menu a {
	margin-top:8px;
	text-decoration:none;
	padding:7px 15px 0 28px;
	color:#ddd;
	font-size:15pt;
	vertical-align:middle;
	border-right:2px solid #999;
}
.opera10 #main_menu a, .ff3 #main_menu a, .webkit #main_menu a {
	font-family:Arial,Helvetica,Georgia,Sans Serif,Verdana,Tahoma;
	font-weight:bold;
	word-spacing:2px;
}
#main_menu a:hover {
	color:#fff;
}
#main_menu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#main_menu li {	float:left; padding-left:10px; }
#main_menu li#first { padding-left:0 !important; }
#main_menu #left_cap {
	width:16px;
	background:url('img/menu_left_cap.png') no-repeat 0 0;
}
#main_menu #left_cap, #main_menu a#welcome, #main_menu a#updates, #main_menu a#about, #main_menu a#getdeb, #main_menu a#contact, #main_menu a#sponsors, #main_menu #right_cap
	, #main_menu a#packages{
	height:32px;
	display:block;
}

#main_menu #left_cap, #main_menu #right_cap {
	height:55px;
	padding:0;
}
#main_menu a#welcome {
	background:url('img/icon_welcome.png') no-repeat 0 8px;
}
#main_menu a#updates {
	background:url('img/icon_games.png') no-repeat 0 8px;
}
#main_menu a#about {
	background:url('img/icon_about_us.png') no-repeat 0 8px;
}
#main_menu a#contact {
	background:url('img/icon_contact_us.png') no-repeat 0 9px;
}
#main_menu a#getdeb{
	background:url('img/icon_getdeb.png') no-repeat 0 9px;
}
#main_menu a#sponsors {
	background:url('img/icon_sponsors.png') no-repeat 0 9px;
}
#main_menu a#packages {
	background:url('img/icon_packages.png') no-repeat 0 9px;
}
#main_menu #right_cap {
	width:16px;
	background:url('img/menu_right_cap.png') no-repeat top right;
	float:right;
}
#main_menu a#about:hover, #main_menu a#getdeb:hover, #main_menu a#contact:hover, #main_menu a#bugs:hover, #main_menu a#ideas:hover, #main_menu a#friends:hover
	, #main_menu a#packages {
	/*background-position: 0 -48px !important;*/
	color:#fff;
 }
 
#main_menu a#menu_item:hover {
	/*background-position: 0 -48px !important;*/
	color:#fff;
 }
 
#main_menu a.selected {
	color:#fff;
}
#main_menu li:hover {
	background:url('img/menu_bg.png') repeat-x top right;
}
 #main_menu a#games_list:hover { background-position: 0 -55px !important; }

/* Content */
#content_frame, #content { 
	min-height:500px;
	height:auto !important;
	height:500px;

}
#content_frame { background:#747474; }
#content {
	width:894px;
	margin:0 auto;
	padding:0 6px;
	background:#010101 url('img/content_bg.png') repeat-x 0 0;
	color:#999;
	font-weight:bold;
}
#content ul {
	margin-left:30px;
	list-style:disc;
}
#content ol {
	margin-left:40px;
	margin-bottom:0;
}
#content ol li { padding:2px 0 5px 0; }
#content ul li { padding:0; }
#content ol p {
	padding:6px 0 0 0;
	margin:6px 0 0 0;	
}
#content ul p {
	margin:0;
	padding:1px 0 0 0;
}
#content a {
	color:#fff;
	text-decoration:none;
}
.highlight {
	color:#fff;
	text-decoration:none;
}

#content a:hover { text-decoration:underline; }
#content a:hover img { 	background: transparent; }
#content a img { border: 2px solid #000; }
#content a:hover img, #content a:active img { border: 2px solid #382F0C; } 

#content code {
	margin:0;
	position:relative;
	padding:3px;
	top:4px;
	background-color:#554819;
	color:#CFA53E;
	border:2px solid #8E6F22;
}

/* Info Box */
.info {
	padding:18px 0 0 0;
}
.info_header, .info_content, .info_footer {
	width:866px;
	margin:0 15px;
}
.info_header {
	height:57px;
	background:url('img/info_header.gif') no-repeat 0 0;
}
.info_header h2 {
	font-size:18px;
	height:30px;
	color:#ccc;
	background:url('img/info_icon.gif') no-repeat 0 15px;
	margin:0 0 0 14px;
	padding:18px 0 0 36px;
}
.info_content {
	background:url('img/info_content.gif') repeat-y 0 0;
	color:#C0A258;
}
.info_content p.light {
	color:#ccc;
}
.info_content .note {
	font-size:12px;
	margin:0 0 0 62px;
	padding:8px;
	color:#83661E;
	font-weight:normal;
}
.info_content .extra {
	text-align:right !important;
	padding:3px 0 8px 0;
	width:840px;
	font-size:13px;
}
.info_content h3 {
	color:#fff;
	font-size:20px;
	padding:8px 0 3px 26px;
}
.info_content p.faq {
	padding:0 0 6px 26px;
}
.info .hide_text {
	text-align:right;
	font-size:10px;
	padding:2px 12px;
}
.info .hide_text a {
	color:#4F400A !important;
}
.info_footer {
	height:7px;
	background:url('img/info_footer.gif') no-repeat 0 0;
}

/* Login or register */
.login_or_register { 
	margin:0 auto;
	width:816px;
}
.login_or_register fieldset {
	border:2px solid #594B29;
	padding:4px;
	background-color:#302606;
}
legend { margin-left:10px; }
.login_or_register label, .login_or_register em, .login_or_register input, .login_or_register p { float:left; }
.login_or_register input, .login_or_register textarea {
	background-color:#0F0C02;
	color:#AEA258;
	border:2px solid #594B29;
	padding:4px;
	font-size:15px;
	clear:left;
}
.login_or_register input:hover, .login_or_register textarea:hover {
	background-color:#111;
	color:#AEA258;
	border:2px solid #7A6E43;
}
.login_or_register input:focus, .login_or_register textarea:focus {
	background-color:#0A0801;
	color:#A8975C;
	border:2px solid #A8975C;
}
.login_or_register label { margin-bottom: 2px; }
.login_or_register input { width:236px; }
.login_or_register em, .login_or_register .note span { color:#D18F2C; }
.login_or_register label.error { 
	clear:left;
	color:#A77103;
	background:url('img/xicon_error.png') no-repeat 0 0;
	margin-top:5px;
	padding:1px 0 2px 24px;
	font-size:13px;
	height:22px;
	font-weight:normal;
}
.login_or_register .note {
	text-align:right;
	font-size:14px;
	color:#9E8F5E;
	margin:0;
	padding:3px 0 0 0;
	width:796px;
}
.login_or_register input.submit {
	float:right !important;
	width:248px;
	background:#322814 !important;
}
.login_or_register p.button {
	margin-top:20px;
}
.login_or_register p.clear { clear:left; }

#register {
	padding-top:16px;
}

#content #sig {
	font-size:1.1em;
	color:#5C5125;
}

/* Footer */
#footer { background:url('img/footer.png') repeat-x 0 0; }
#footer p {
	padding-top:20px;
	margin-left:-12px;
	color:#aaa;
	text-align:center;
}
#footer a { color:#ccc; }
#footer a:hover { color:#888; text-decoration:none; }
#footer a#ninja {
	background:url('img/ninja.gif') no-repeat 0 0;
	padding:0 0 3px 24px;
}
#footer a#ninja:hover { background-position: 0 -22px; }

.hide {
	display: none;
}
.center {
	margin-left: auto;
	margin-right: auto;
}


