/* Stylesheet for playdeb.net written by Tyler Mulligan of www.detrition.net */

/* Home */
#welcome_text {
	clear:both;
	float:left;
	width:500px;
}
#home_featured_game {
	width:359px;
	height:406px;
	background:url('img/featured_game.png') no-repeat 0 0;
	float:right;
	position:relative;
	margin:10px;
}
#home_featured_game img {
	border:2px solid #000;
	width:345px;
	height:275px;
	margin-top:60px;
	margin-left:5px;
}
#home_featured_game h2#featured_game_name {
	color:#ddd;
	font-size:14px;
	width:335px;
	text-align:center;
	margin-top:12px;
	margin-left:15px;
}
#home_featured_game h2#featured_game_header { font-size:0; }
#home_featured_game a#download {
	width:343px;
	height:56px;
	position:absolute;
	bottom:7px;
	left:7px;
}
#home_featured_game a#download:hover { background:url('img/featured_game_info.png') no-repeat 0 0; }
#home_install {
	width:345px;
	float:right;
}
#home_install p {
	background:transparent url('img/install.png') 0 11px no-repeat;
	padding-left:40px;
}
