/* Stylesheet for playdeb.net written by Tyler Mulligan of www.detrition.net */

/* Comment Form */
#applicationForm { 
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}
#applicationForm fieldset {
	border:2px solid #111;
	border-style: groove;
	padding:4px;
}
legend { margin-left:10px; }
#applicationForm label, #applicationForm em, #applicationForm input, #applicationForm p { float:left; }
#applicationForm input, #applicationForm textarea {
	background-color:#fffff;
	color:#777;
	border:2px solid #444;
	padding:4px;
	font-size:15px;
	clear:left;
}
#applicationForm input:hover, #applicationForm textarea:hover {
	background-color:#DDDDDD;
	color:#AEA258;
	border:2px solid #555;
}
#applicationForm input:focus, #applicationForm textarea:focus {
	background-color:#EEEEEE;
	color:#000000;
	border:2px solid #777;
}
#applicationForm label { margin-bottom: 2px; }
#applicationForm input { width:254px; }
#applicationForm em, #applicationForm .note span { color:#D18F2C; }
#applicationForm label.error { 
	clear:left;
	color:#A77103;
	background:url('img/xicon_error.png') no-repeat 0 0;
	margin-top:5px;
	padding:1px 0 2px 24px;
	font-size:13px;
	height:22px;
	font-weight:normal;
}
#applicationForm .note {
	text-align:right;
	font-size:14px;
	color:#666;
	margin:0;
	padding:3px 0 0 0;
	width:748px;
}

textarea {
	width:540px;
	height:150px;
	float:left !important;
}
#applicationForm input.submit {
	float:right !important;
	background:#FFFFAA !important;
	color:#000000;
}
#applicationForm p.clear { clear:left; }

.error_msg {
	font-size:14px;
	color: red;
}


/* upload button */
#upload_button {	
	position:relative;
	top: -150px;
	left: 580px;
	height: 20px;	
	width: 160px;
	font-size: 14px;
	padding-top: 5px;
	border-style:solid;
	border-width:2px;
	background:#FFFFAA !important;
	color:#000000;
}

/* 
We can't use ":hover" preudo-class because we have
invisible file input above, so we have to simulate
hover effect with javascript. 
 */
#upload_button.hover {
	background:#FFFF11 !important;
	color:#000000;
}

