/* Stylesheet for playdeb.net written by Tyler Mulligan of www.detrition.net */

/* Games List */
.navigate {
	position:relative;
	width:780px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
}
.navigate a.first, .navigate a.prev, .navigate a.next, .navigate a.last {
	width:29px;
	height:26px;
	display:block;
	float:left;
	margin-top:14px;
}
.navigate a.next, .navigate a.last {
	float:right;
}
.navigate a.first { background:url('img/nav_first.png') no-repeat 0 0; }
.navigate a.prev { background:url('img/nav_prev.png') no-repeat 0 0; }
.navigate a.next { background:url('img/nav_next.png') no-repeat 0 0; }
.navigate a.last { background:url('img/nav_last.png') no-repeat 0 0; }

.navigate a.first:hover, .navigate a.prev:hover, .navigate a.next:hover, .navigate a.last:hover {
	background-position:0 -26px;
}
.navigate #search_content {
	position:absolute;
	top:10px;
	left:150px;
}
/* opera fix */
.opera #search_box_content { padding:1px 0 0 6px; }
.navigate #page_numbers {
	width:720px;
	text-align:center;
	float:left;
	font-size:20px;
	margin-top:6px;
}
.navigate #page_numbers a { color:#555; }
.navigate #page_numbers a:hover { color:#0000FF; }

.navigate #page_numbers a.highlight
{
	color: #ff0000;
}

/* Game Container */
.app {
	width:767px;
	height:323px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.app .the_stars { 
	padding-top:4px;
	padding-left:7px;
}
.app a.h2 {
	font-size:20px;
	color: #990000;
	padding:12px;
	width:720px;
}
.app .thumb_link {
	display: block;
	float:left;
	height:209px;
	margin:1px 9px 1px 9px;
	width:265px;
	text-align: center;
}
.app .thumb {
	margin:0 auto;
	border:2px solid #222;
}
.app a.install_now {
	clear:left;
	float:left;
	margin:3px 6px;
	background:url('img/install_now.png') no-repeat 0 0;
	width:272px;
	height:49px;
	display:block;
	font-size:13pt;
	color:#C0C0C0 !important;
	line-height:48px;
	text-shadow:2px 2px #000000;
	padding-left:25px;
	word-spacing:-2px;
	font-family:Arial,Sans Serif,Verdana,Tahoma;
}
.app a.install_now:hover {
	background-position:0 -49px;
	text-decoration:none !important;
}

/* Game Container Content */
.app .details a.featured_icon {
	position:absolute;
	top:68px;
	right:8px;
	height:22px;
	width:200px;
	background:url('img/xicon_featured.png') no-repeat top right;
	padding:3px 24px 0 0;
	color:#bbb !important;
	text-align:right;
	font-size:11px;
}
.app .details p {
	color:#eee;
	font-size:14px;
	font-weight:normal;
	padding:4px 6px;
}
.app .details h3 {
	font-size:14px;
	padding:5px;
	color:#202020;
}

/* Game Container Footer */
.app .details h3.more_links a { color:#336699 !important; }
.app .details h3.more_links a:hover { text-decoration: underline !important; } */
.app .details h3.available_for a { color:#bbb !important; }
.app .details h3.available_for a:hover { color:#eee !important; } 

.app .details a.video, .app .details a.homepage, .app .details a.comments { padding-left:20px; }
.app .details a.video { background:url('img/xicon_video.png') no-repeat 0 0; }
.app .details a.homepage { background:url('img/xicon_homepage.png') no-repeat 0 0; }
.app .details a.comments { background:url('img/xicon_comments.png') no-repeat 0 0; }

.app .details .updated {
	position:absolute;
	bottom:-10px;
	left:280px;
	font-weight:normal;
}
.app .details .more_links, .app .details .descript { color:#666; }
.app .details .more_links {
	position:absolute;
	bottom:25px;
	left:280px;
	width:468px;
	border-bottom:2px solid #777;
	padding:0 0 5px 0;
	margin:0 0 5px 5px;
}
.app .details .available_for {
	position:absolute;
	bottom:50px;
	left:280px;
	width:568px;
	padding:0 0 5px 0;
	margin:0 0 5px 5px;
}
.app .details .tags_container {
	position:absolute;
	bottom:5px;
	right:12px;
}
.app .details .tags {
	background:url('img/xicon_tags.png') no-repeat 0 1px;
	padding-left:16px;
}
.app .details .add_tag_box {
	position:absolute;
	bottom:33px;
	right:4px;
	height:18px;
	width:100px;
	padding-right:28px;
	border:2px solid #999;
	background-color:#333;
	color:#bbb;
}
.app .details .add_tag_submit {
	position:absolute;
	bottom:35px;
	right:12px;
	height:18px;
	width:26px;
	font-size:10px;
	font-weight:bold;
	padding:0;
	background-color:#333;
	border:none;
	border-left:2px solid #666;
	color:#ccc;	

}


.smaller {
	font-size:14px;
}

/* Navigation */
.drop_down, .drop_down ul { 
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.drop_down {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  position: relative;
}
.drop_down li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.drop_down li a, .drop_down li a:link, .drop_down li a:active, .drop_down li a:visited {
  font-size: 14px;
  background: #565656;
  color: #959595;
  display: block;
  padding: 0 9px;
  text-transform: lowercase;
  text-decoration: none;
}

.drop_down li a:hover {
  background: #ccc;
  color: #000;	

}
#genre li:hover a, 
#genre li.sfHover a {
  background: #ccc;
  color: #000;
}
#genre li:hover ul a, 
#genre li.sfHover ul a {
  background: #444;
  color: #959595;	
}
#genre li:hover ul a:hover, 
#genre li.sfHover ul a:hover {
  background: #ccc;
  color: #000;	
}

.drop_down ul {
  background: #444;
  border-bottom: 2px solid #818181;
  list-style: none;
  margin: 0;
  width: 87px;
  position: absolute;
  top: -999em;
  left: 0px;
}
.drop_down li:hover ul,
.drop_down li.sfHover ul {
  top: 28px;
}
.drop_down ul li {
  border: 0;
  float: none;
}
.drop_down ul a {
  border: 2px solid #818181;
  border-bottom: 0;
  padding-right: 20px;
  width: 67px;
  white-space: nowrap;
}
.drop_down ul a:hover {
  background: #ccc;
  color: #000;
}


/*************** HOW TO INSTAL INFO BOX ***************/
/* Info Box */
.info {
	padding:5px 0 0 0;
}
.info_header, .info_content, .info_footer {
	width:745px;
	margin:5px 15px;
}

.info_header {
	height:20px;
}
.info_header h2 {
	font-size:18px;
	height:20px;
	color:#ccc;
	margin:0 0 0 14px;
	/* padding:18px 0 0 36px; */
	border: 1px solid #666666;
	text-align: center;
}
.info_content {
	color:#C0A258;
	border: 1px solid #666666;
}

.info_content p.light {
	color:#ccc;
}
.info_content .note {
	font-size:12px;
	margin:0 0 0 62px;
	padding:8px;
	color:#83661E;
	font-weight:normal;
}
.info_content .extra {
	text-align:right !important;
	padding:3px 0 8px 0;
	width:740px;
	font-size:13px;
}
.info_content h3 {
	color:#fff;
	font-size:20px;
	padding:8px 0 3px 26px;
}
.info_content p.faq {
	padding:0 0 6px 26px;
}
.info .hide_text {
	text-align:right;
	font-size:10px;
	padding:2px 12px;
}
.info .hide_text a {
	color:#4F400A !important;
}


/*************** Application Entry ***************/
.app_header {
	height:30px;
	overflow:hidden;
	margin-left: 6px;
}

a.app_name {
	font-weight: bold; 
	font-size: 18px;
	margin-left: 6px;
}

.short_description {
	/* padding-bottom:2px; */
	font-weight: bold; 
	font-size: 14px;
	color: #000;
}
.description {
	text-align: justify; 	
	text-justify: newspaper;
	font-size: 14px;
}

