## -*- coding: utf-8 -*-
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>${_("Copyright & Legal Information")}</title>
<link href="/css/popup.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>${_("Copyright & Legal Information")}</h2>
<p><strong>Contents of this web site:</strong><p>
<p>
The software provided on this site is copyrighted by the respective authors
and distributed according to it's license conditions.
<p><strong>Images provided by third parties.</strong><br></p>
<p>
Some of the images used on this page are part of the 
<a href="http://tango.freedesktop.org/Tango_Desktop_Project" target="_blank">Tango Project</a>, 
<a href="http://art.gnome.org/" target="_blank">Gnome Desktop</a>, or based on the work from 
<a href="http://jimmac.musichall.cz" target="_blank">Jakub &quot;Jimmac&quot; Steiner</a>. 
Their use is allowed as long you mention the original authors.</p>
<p><strong>Privacy policy:</strong><br>
User data collected on this web site is treated as personal and will not be provided to third parties.
</p>
<p><strong>Trademarks:</strong><br>
<p>© 2008 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
<p align="center"><a href="javascript:window.close()"><img src="imagenes/boto_tancar.png" alt="Close this window" width="80" height="20" border="0"></a></p>
</body>
</html>
