			<!-- start how_to_install -->
			<div id="how_to_install" class="info">
				<div class="info_header"><h2><a href="#how_to_install">How to Install Apps from GetDeb</a></h2></div>
				<div class="info_content">
					<p class="light">Use the following instructions:</p>
					<ol>
						<li>
							<p>Install the <a href="http://archive.getdeb.net/install_deb/getdeb-repository_0.1-1~getdeb1_all.deb">getdeb</a> package.</p>
						</li>							
						<li><p>Or configure the repository manually:</p>								
								<p>Go to System-Administration-Software Sources, Third-Party Software tab, Add:</p>
								<code>deb http://archive.getdeb.net/ubuntu ${codename}-getdeb apps</code>
								<p>Add the repository GPG key, open a terminal window and type:</p>
								<code>wget -q -O- http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -</code>
						</li>
						<li>
							<p>Click the "Install this now" button below the screenshot of the desired application.</p>
						</li>
						<li><p><strong>If you are using Kubuntu please check <A HREF="https://launchpad.net/bugs/476853">bug 476853</A>.</strong></p></li>
						<li><p><strong>If the application cannot be found, run this command and try again:</strong></p>
								<code>sudo apt-get update</code>
						</li>
					</ol>
					<p class="hide_text"><a href="#" id="hide_install">hide this from showing in the future</a></p>
				</div>
				<div class="info_footer"></div>
			</div>
			<!-- end how_to_install -->
