## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
	<link rel="stylesheet" href="/css/sponsors.css" type="text/css" media="screen">	
</%def>
<%def name="title()">
${_("Mirrors")}
</%def>
<%def name="body()">
<h3>What is a sponsor?</h3>
<p>
An individual, a project, a website or a company who sets up a recurring donation to help GetDeb financially on a montly basis.
</p>

<h3>How much does it costs?</h3>
<p>
The amount is decided by the sponsor. The more the sponsor gives the better but the important thing is to give something.
</p>

<h3>What are the advantages of this system for GetDeb?</h3>
<p>
By sponsoring GetDeb you contribute to giving the development team a regular and predictable income. 
This is the best form of income for GetDeb and for its developers/packagers to start working full time on it.
We want GetDeb to finance itself and are targeting for <b>200 &euro; per month</b> to have servers paid
and to upgrade the amount of bandwidth for the servers.
<p>

<h3>What are the advantages of this system for the sponsors?</h3>
<p>
Sponsors get their name associated with the success of GetDeb. 
If they have a logo we show it on the front page with a link to their website (each sponsor's chances of being shown is equal to the percentage his contribution represents among other sponsors)
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="sponsoring" class="sponsoring">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="57DLJS8A9HV9C">
Sponsor GetDeb by donating once
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="sponsoring">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="donations@getdeb.net">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="no_shipping" value="1">
Subscribe to GetDeb:
<input type="text" size="3" name="a3" value="5.00"> &euro; 
<input type="image" src="http://www.paypal.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">
<input type="hidden" name="src" value="1">
<input type="hidden" name="sra" value="1">
<input type="hidden" name="lc" value="US">
<br/>By subscribing you get listed here and on the front page.
</form>
<h2>Sponsors</h2>
<table class="sponsor-table">
        <tbody>            
            <th>&nbsp;</th>
			<th>Sponsor</th>
            <th>Amount / Month</th>		
%for sponsor  in sponsors:
		<tr class="alt">				
			<td><a rel="external" href="${sponsor.url}"><img src="${media_base_url}/media/sponsors/${sponsor.id}.png" alt="${sponsor.name}"></a></td>
%if sponsor.altonly:
			<td>&nbsp;</td> 
%else:
			<td><a rel="external" href="${sponsor.url}">${sponsor.name}</a></td> 
%endif
			<td class="donation">${sponsor.ammount} €</td>  
		</tr>
%endfor
		</tbody>
</table>
<h2>Mirrors</h2>
<p>Providing a mirror is also an excelent way to support the project, we have high traffic and some large packages. If you can afford it please do not hesitate to use the contact link.<br><br>
<b>The following organizations are currently supporting us with mirrors:<br></b><br>
<ul>
<li><a href="http://dotsrc.org/">Dotsrc.org</a> - Open Source Hosting</li>
<li><a href="http://www.heanet.ie/">http://www.heanet.ie/</a> - HEAnet L
<li><a href="http://mirror.lagoon.nc/">http://mirror.lagoon.nc/</a>- OFFRATEL - LAGOON</li>
<li><a href="http://megaglest.org/">http://megaglest.org/</a>- MegaGlest</li>
<li><a href="http://www.cse.yzu.edu.tw/">http://www.cse.yzu.edu.tw/</a>- Department of Computer Science and Engineering, Yuan-Ze University</li>
</ul>
</%def>

