## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
</%def>
<%def name="title()">
${_("Welcome")}
</%def>
<%def name="body()">

<h2><span class="style3">GetDeb</span> Software Portal</h2>
<p>
GetDeb is an unofficial project with the mission to provide the latest open source and freeware applications for the current Ubuntu Linux release, in an easy to install manner.</p>
<p>
The GetDeb repository extends the official repositories by providing latest versions and new applications. Unlike the official packages, GetDeb packages do not have a predefined release schedule - new software versions are provided as they become available from their authors.
There is a short and limited testing phase instead of a full testing cycle to ensure packaging quality, however it is less strict than Ubuntu's official requirements.
</p>
<p>You may also be interested on the UbuntuBackports project. It has a limited scope compared to GetDeb but the advantage of being an Ubuntu official project.</p>
<div id="home_install">
	<p>Learn how to install applications from this web site by <a href="${base_url}/updates#how_to_install" title="Learn to install with getdeb">clicking here</a></p>
</div>
% if not sponsor is UNDEFINED and sponsor:
			<p>
			GetDeb is sponsored by:<br>
			<a rel="external" href="${sponsor.url}"><img src="${media_base_url}/media/sponsors/${sponsor.id}.png"></a>
			<a rel="external" href="${sponsor.url}">${sponsor.name}</a>
			</p>			
			<p>This month we are running with <span class="highlight">${sponsor_total} €</span> from sponsorship.</p>
% endif		
<p style="text-align: center">
Please support us:<br/>
<a href="http://flattr.com/thing/52591/Software-Portal-for-Ubuntu-Linux" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr this" title="Flattr this" border="0" /></a>
</p>
<p style="text-align: center">
<g:plus href="https://plus.google.com/110683567928974511220" size="badge"></g:plus>
</p>
</%def>
