			<!-- start how_to_install -->
			<div id="how_to_install" class="info">
				<div class="info_header"><h2><a href="#how_to_install">How to Install Games from OM-Showroom</a></h2></div>
				<div class="info_content">
					<p class="light">Use the following instructions:</p>
					<ol>
						<li>
							<p>Open a shell session in your fabourite terminal or though SSH</p>
						</li>							
						<li><p>If your are using SHR:<p>
                            <ol>
                                <li><code>opkg update</code></li>
                                <li><code>opkg install The_Name_of_app_to_install_here</code></li>
                            </ol>
						</li>

						<li><p>If your are using Debian:<p>
                            <ol>
                                <li><code>apt-get udate</code></li>
                                <li><code>apt-get install The_Name_of_app_to_install_here</code></li>
                            </ol>
						</li>													
					</ol>
					<p class="hide_text"><a href="#" id="hide_install">hide this from showing in the future</a></p>
				</div>
				<div class="info_footer"></div>
			</div>
			<!-- end how_to_install -->
