<%inherit file="base.html"/>
<%def name="page_head()">
<link rel="stylesheet" href="/css/updates.css" type="text/css" media="screen" />	
</%def>
<%def name="title()">
${_("About Us")}
</%def>
<%def name="body()">
		<h1>About PlayDeb</h1>
<p>
PlayDeb is an unofficial project with the mission to provide the latest open source and freeware games for the current Ubuntu Linux release, in an easy to install manner.
</p>
<p>
The PlayDeb repository extends the official repositories by providing latest versions and new games. Unlike the official packages, PlayDeb packages do not have a predefined release schedule - new game versions are provided as they become available from their authors.</p>
</p>
<p>
There is a short and limited testing phase instead of a full testing cycle to ensure packaging quality, however it is less strict than Ubuntu's official requirements.
You may also be interested on the <a href="https://help.ubuntu.com/community/UbuntuBackports" target="_blank">Ubuntu Backports</a> project. It has a limited scope compared to PlayDeb but the advantage of being an Ubuntu official project.
</p>
<p>There is no "company" behind this project - it is managed, maintained, developed and supported by a volunteer group and by the users themselves.</p>
<p>Your help is needed and appreciated.</p>
<div style="color: blue; font-weight: bold;text-align: center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="N9QYYRMV5FB9Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>

</div>		
</%def>

