## -*- coding: utf-8 -*-
## This is the base template, all pages should inherit this template 
## which includes the top logo, menu, search button, and the 
## board alike format 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
<head>
<% slogan = _("Ubuntu gaming made easy") %>
	<!-- google webmaster tools verification code -->
	<meta name="google-site-verification" content="hMYoXqRNEtu_20VB0deBIxobFyn8DIk4dWByeAtSNWI" />
	<!-- end of google wbemaster tools authentication -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />	
	<meta name="author" content="The GetDeb Team" />
	<meta name="description" content="${slogan}" />
	<meta name="keywords" content="ubuntu, repository, video games, games, open source" />
	<title>PlayDeb.net - ${self.title()} </title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />	
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/js/browser_selector.js"></script>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	${self.page_head()}
	<script type="text/javascript">
	<!-- This code highlight the currently selected page -->
	$(document).ready(function() {
		$("a#${pagename|u}").addClass("selected");
	});
	</script>
	<!-- google analytics -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9963022-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
	<!-- end of google analytics -->
	<!-- google plus -->
	<link href="https://plus.google.com/117277779496344929549" rel="publisher" /><script type="text/javascript">
	window.___gcfg = {lang: 'en-GB'};
	(function() 
	{var po = document.createElement("script");
	po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(po, s);
	})();</script>
	<!-- end of google plus -->
</head>
<body>
<div id="container">
	<div id="header">
	<!-- -->
		<a href="/" id="logo" title="PlayDeb.net - ${slogan}"></a>
		<h2><a href="/" id="playdeb" title="PlayDeb.net - ${slogan}">PlayDeb 2</a></h2>
		<h2><a href="/" id="playdeb_slogan">${slogan}</a></h2>		
		<div id="search_top">
			<h2>Find A Game:</h2>
			<form action="${base_url}/updates/ubuntu/${release}/" method="get">
			<input type="text" name="q" id="search_box_top" />
			</form>
		
			<p id="login_note">
% if session("login_username"):
            Welcome ${session("login_username")}, you can
				<a href="${base_url}/logout/" title="logout" id="logout">logout</a>
% else:
<!-- Nothing useful yet 
            Welcome Guest, you can
			<a id="login" href="${base_url}/login/" title="login">login</a>
			or 
			<a id="register" href="${base_url}/register/" title="register">register</a>
!-->			
% endif
			</p>			
		</div>
	</div>
	<div id="main_menu">
		<ul>
			<li id="left_cap"></li>
			<li id="first"><a title="Welcome" href="${base_url}/welcome/"  id="welcome">Welcome</a></li>
			<li><a href="${base_url}/updates/ubuntu/${release}/" title="Games List - playdeb.net" id="updates">Games</a></li>
% if not session("is_admin"):
			<li><a href="http://getdeb.net" title="Apps List - getdeb.net" id="getdeb">Apps</a></li>
% endif
			<li><a href="${base_url}/about/" title="About Us - playdeb.net" id="about" >About Us</a></li>
			<li><a href="${base_url}/contact/" title="Contact Us - playdeb.net" id="contact">Contact Us</a></li>
			<li><a href="${base_url}/sponsors/" title="Sponsors - playdeb.net" id="sponsors">Sponsors</a></li>
% if session("is_admin"):
			<li><a href="${base_url}/packages/" title="Package management" id="packages">Packages</a></li>
% endif			
			<li id="right_cap"></li>
		</ul>                
	</div>
	<div id="content_frame">
		<div id="content">
${self.body()}
		</div> <!-- end content -->
	</div><!-- end content_frame -->
	<div id="footer">
		<p>Copyright 2008-2010 <a href="http://www.playdeb.net" title="PlayDeb.net - The Ubuntu gamer's most up-to-date package resource">playdeb.net</a> - a service by <a href="http://www.getdeb.net" title="Getdeb.net" target="_blank">getdeb.net</a> - page designed by <a href="http://www.nexuizninjaz.com" title="Tyler '-z-' Mulligan of Nexuiz Ninjaz" target="_blank" id="ninja">a ninja</a>.</p>
		<p>This site is powered by <a href="https://launchpad.net/apt-portal">APT-Portal</a> </p>
	</div>
</div>
<!-- end container -->
</body>
</html>
