## -*- coding: utf-8 -*-
## base.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Tyler '-z-' Mulligan - www.nexuizninjaz.com" />
	<meta name="Description" content="Playdeb.net is a website that delivers the most up-to-date .deb packages for Ubuntu video games." />
	<meta name="Keywords" content="Ubuntu, repository, video games, open-source" />
	<title>PlayDeb.net - NEW VERSION COMING SOON! - The Ubuntu gamer's most up-to-date package resource</title>
	<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/js/browser_selector.js"></script>
</head>
<body>
<div id="container">
	<div id="header">
		<a href="/" id="logo" title="PlayDeb.net - The Ubuntu gamer's most up-to-date package resource"></a>
		<h2><a href="/" id="playdeb" title="PlayDeb.net - The Ubuntu gamer's most up-to-date package resource">PlayDeb</a></h2>
	</div>
	<div id="main_menu">
		<ul>
			<li id="left_cap"></li>
			<li style="padding-top:12px;font-size:16pt;text-align:center;width:870px;color:#fff;">Playdeb Under construction!</li>
			<li id="right_cap"></li>
		</ul>
	</div>
	<div id="content_frame">
		<div id="content">
			<img src="/css/img/alert.png" alt="Under Construction" title="New Playdeb Coming soon!" style="display:block;margin:0 auto;padding:50px 0 15px;" />
			<p style="text-align:center;color:#E9A334"> We are currently working on the site makeover <br /> meanwhile, games will be published at <a href="http://www.getdeb.net/category.php?id=3" title="GetDeb.net" >GetDeb.net</a></p>
		</div> <!-- end content -->
	</div><!-- end content_frame -->
	<div id="footer">
		<p>Copyright 2009 <a href="http://www.playdeb.net" title="PlayDeb.net - The Ubuntu gamer's most up-to-date package resource">playdeb.net</a> - a service by <a href="http://www.getdeb.net" title="Getdeb.net" target="_blank">getdeb.net</a> - page designed by <a href="http://www.nexuizninjaz.com" title="Tyler '-z-' Mulligan of Nexuiz Ninjaz" target="_blank" id="ninja">a ninja</a></p>
	</div>
</div><!-- end container -->        
</body>
</html>
