## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
	<link rel="stylesheet" href="/css/contact.css" type="text/css" media="screen" />	
	<script type="text/javascript" src="/base/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#commentForm").validate();
			/* anti-spam code */
			trickit = "${self_url}";
	   		trickit = trickit.replace(/!/g, "t");
	   		document.forms.commentForm.action = trickit;			
		});
	</script>
</%def>
<%def name="title()">
${_("Contact")}
</%def>
<%def name="body()">
% if contact_received==1:
		<h1>Thank You</h1>
		<p>${_("We have received your message and will contact you as soon as we can.")}</p> 
% else:
			<h1>Email</h1>
			<form id="commentForm" method="post" action="spam">
				<fieldset>
					<legend>You can use the form below to contact us</legend>
                    			<p>If you have a problem installing packages please make sure you first read the <a href="/updates/ubuntu/${current_release}/#how_to_install">instructions</a>.</p>
                   			<p>If you want to request a new package/package upgrade please use the "Report a bug" function at <a href="https://bugs.launchpad.net/getdeb.net/">launchpad</a>.</p>					
					<p class="note"><span>*</span> denotes a required field</p>
					<p>If you have problems installing an application also send us the output of the command 'apt-cache policy'</p>
					<p>
						<label for="cname">Name</label><em>*</em>
						<input id="cname" name="name" size="25" class="required" />
					</p>
					<p>
						<label for="cemail">E-Mail</label><em>*</em>
						<input id="cemail" name="email" size="25"  class="required email" />
					</p>
					<p class="clear">
						<label for="ccomment">Your comment</label><em>*</em>
						<textarea id="ccomment" name="comment" cols="22"  rows="5" class="required" style="clear:both;"></textarea>
					</p>
					<p class="clear">
						<input class="submit" type="submit" value="Submit" />
					</p>
				</fieldset>                
			</form>
			<h1>IRC</h1>
			<p>You can find us in <a href="irc://irc.freenode.net">#getdeb on irc.freenode.net</a>.</p>
% endif
</%def>
## Contact email settings
<%def name="destination_email()">
## mangle to avoid spambots
${"%s@%s" % ('contact','getdeb.net')}
</%def>
