## -*- coding: utf-8 -*-
<%page args="app, package, available_for"/>
<!-- game -->
<div class="game">
	<div class="game_header">
<%doc>
		<!-- rating -->
		<div class="rating_container">
			<form class="the_stars" id="nexuiz_rating">
				<input class="star" type="radio" name="nexuiz_rating" />
				<input class="star" type="radio" name="nexuiz_rating" />
				<input class="star" type="radio" name="nexuiz_rating" />
				<input class="star" type="radio" name="nexuiz_rating" />
				<input class="star" type="radio" name="nexuiz_rating" />
			</form>
		</div>
		<!-- rating end -->
</%doc>		
		<h2><a href="${base_url}/software/${app.name}" name="${package.package}" title="${app.name} - ${package.description|h}">${app.name|h} <span class="smaller">- ${package.description|h}</span> </a></h2>
	</div>
	<div class="left">
		<a href="${media_base_url}/media/screens/${app.id}/${app.id}.png" rel="shadowbox[image]" class="thumb_link"><img src="${media_base_url}/media/screens/${app.id}/${app.id}_t.png" alt="" class="thumb" /></a>
		<a href="${base_url}/install/${package.package | u}/${package.version| u}" target="_blank" rel="nofollow" class="install_now" title="Install the latest version of this game!">Install this now</a>
	</div>
	<div class="details">
		<h3 class="version">
		Version: ${package.version}
		</h3>
##		<a href="#" class="featured_icon" title="This game is featured!">Featured Game</a>
<p>
		 ${app.descr | h}
</p>
		<!-- available for -->
		<h3 class="available_for">Available for Ubuntu: 
		${', '.join(available_for)}		
		</h3>
		<!-- end available for -->		
		<h3 class="more_links">
% if app.video_link:
		<a href="${app.video_link}&amp;autoplay=1" rel="shadowbox[video];width=580;height=520" title="${app.name}" class="video">Watch Video</a> |
% endif
		<a href="${app.homepage}" title="${app.name}" target="_blank" class="homepage">Homepage</a> 
		| License: ${app.license}
        | <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=${base_url|u}/software/${app.name|u}&amp;title=${app.name|u}%20${package.version.split('-')[0]|u}%20available%20for%20Ubuntu"></a>
		</h3>
		<h3 class="updated">Updated: ${package.last_modified}
		| <A HREF="http://archive.getdeb.net/ubuntu/rpool/games/${changelogs_dict[app.id]}">Changes</A>
		</h3>
<%doc>
		<!-- tags -->
		<h3 class="tags_container"><span class="tags"> Tags: <a href="#">fps</a>, <a href="#">space</a>, <a href="#">quake-based</a></span> <span class="descript">|</span> <a href="#" class="add_new_tag">+</a>
			<div class="add_tag">
				<input type="text" name="add_tag_box" class="add_tag_box" />
				<input type="submit" value="add" class="add_tag_submit" />
			</div>
		</h3>	
		<!-- end tags -->
</%doc>	
	</div>
</div>
% if package.package == 'bubbletrain':
	Here you will find a description of one of our games and a chance for you to download it. In this day and age it is more than common to play games on your computer, people can even play <a href="http://www.pokerblog.com/">poker</a> online now. In the past if you were into gaming you would use a console in order to play games. You still can use a console however it has become increasingly popular to play online.<br />
	<br />
	It really is very easy to get games on your computer. All you have to do is download it. You will see an install button which you literally just click on. Within a matter of minutes you will have a really fun and entertaining game on your computer. What are you waiting for? Install it now and start playing.<br />
% endif
<!-- end game -->
