			<!-- start how_to_install -->
			<div id="how_to_install" class="info">
				<div class="info_header"><h2><a href="#how_to_install">How to Install Games from PlayDeb</a></h2></div>
				<div class="info_content">
					<p class="light">Use the following instructions:</p>
					<ol>
						<li><p>Install the repository in one of the following ways:</p>
							<ol>
								<li>
									<p>Install the <a href="http://archive.getdeb.net/install_deb/playdeb_0.3-1~getdeb1_all.deb">playdeb</a> package.</p>
								</li>							
								<li><p>Or configure the repository manually:</p>								
										<p>Go to System-Administration-Software Sources, Third-Party Software tab, Add:</p>
										<code>deb http://archive.getdeb.net/ubuntu ${codename}-getdeb games</code>
										<p>Add the repository GPG key, open a terminal window and type:</p>
										<code>wget -q -O- http://archive.getdeb.net/getdeb-archive.key | sudo apt-key add -</code>
								</li>
							</ol>
						</li>
						<li>
							<p>Click the "Install this now" button below the screenshot of the desired game.</p>
						</li>													
						<li><p><strong>If you are using Kubuntu please check <a href="https://launchpad.net/bugs/476853">bug 476853</a>.</strong></p></li>
						<li><p><strong>If the game cannot be found, run this command and try again:</strong></p>
								<code>sudo apt-get update</code>
						</li>
						<li><p><strong>If you want to uninstall the PlayDeb repository run this command:</strong></p>
								<code>sudo apt-get remove playdeb</code>
						</li>
						<li><p><strong>If you get a blank page when installing you need to <a href="https://help.ubuntu.com/community/AptURL">configure apturl in your browser.</a></strong></p>
								<p>In Firefox you need to change the setting also in Preferences->Applications<br>
								Link the <i>apt</i> protocol to <i>/usr/bin/apturl</i> there.</p>
						</li>
					</ol>
					<p class="hide_text"><a href="#" id="hide_install">hide this from showing in the future</a></p>
				</div>
				<div class="info_footer"></div>
			</div>
			<!-- end how_to_install -->
