## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
    <link rel="stylesheet" href="/css/updates.css" type="text/css" media="screen" />    
    <script type="text/javascript" src="/js/shadowbox-2.0.js"></script>
    <script type="text/javascript" src="/js/page.updates.js"></script>
    <!-- we need cookie for the infobox handler -->
    <script type="text/javascript" src="/js/infobox.js"></script>
</%def>
<%def name="title()">
${_("Information for "+app.name)}
</%def>
<%def name="body()">
    <br>
<!-- game -->
<div class="game">
	<div class="game_header">
		<h2><a href="${base_url}/game/${app.name}" name="${app.name}" title="${app.name}">${app.name|h}</a></h2>
	</div>
	<div class="left">
		<a href="${media_base_url}/media/screens/${app.id}/${app.id}.png" rel="shadowbox[image]" class="thumb_link"><img src="${media_base_url}/media/screens/${app.id}/${app.id}_t.png" alt="" class="thumb" /></a>
		% if package:
		<a href="${base_url}/install/${package.package | u}" target="_blank" rel="nofollow" class="install_now" title="Install the latest version of this game!">Install this now</a>
		% endif
	</div>
	<div class="details">
<p>
		 ${app.descr | h}
</p>
		<h3 class="more_links">
% if app.video_link:
		<a href="${app.video_link}&amp;autoplay=1" rel="shadowbox[video];width=580;height=520" title="${app.name}" class="video">Watch Video</a> |
% endif
		<a href="${app.homepage}" title="${app.name}" target="_blank" class="homepage">Homepage</a> 
		| License: ${app.license}
##		| <a href="#" class="comments">Comments</a>
		</h3>
<%doc>
		<!-- tags -->
		<h3 class="tags_container"><span class="tags"> Tags: <a href="#">fps</a>, <a href="#">space</a>, <a href="#">quake-based</a></span> <span class="descript">|</span> <a href="#" class="add_new_tag">+</a>
			<div class="add_tag">
				<input type="text" name="add_tag_box" class="add_tag_box" />
				<input type="submit" value="add" class="add_tag_submit" />
			</div>
		</h3>	
		<!-- end tags -->
</%doc>	
	</div>
</div>
<br>
<!-- end game -->
    Packages are available for the following releases:<br>
    %for key,value in last_version_dict.items():
    	Ubuntu ${key}: ${value}<br>
    %endfor
    </p>Package downloads per version:<br/>
    %for key,value in downloads.items():
    	Version ${key}: ${value}<br/>
    %endfor
    </p>
    % if package:
    <p>Uninstall the application with the following command:<br/>
    sudo apt-get remove ${package.package | u}
    </p>
    % endif
</%def>
