## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()"></%def>
<%def name="title()">
${_("Mirrors")}
</%def>
<%def name="body()">
<div class="highlight">What is a sponsor?</div>
<p>
An individual, a project, a website or a company who sets up a recurring donation to help PlayDeb financially on a montly basis.<b>
</p>

<div class="highlight">How much does it costs?</div>
<p>
The amount is decided by the sponsor. The more the sponsor gives the better but the important thing is to give something.
</p>

<div class="highlight">What are the advantages of this system for PlayDeb?</div>
<p>
By sponsoring PlayDeb you contribute to giving the development team a regular and predictable income. 
This is the best form of income for PlayDeb and for its developers/packagers to start working full time on it.
We want PlayDeb to finance itself and are targeting for <u>200 &euro; per month</u> to have servers paid
and to upgrade the amount of bandwidth for the servers.
<p>

<div class="highlight">What are the advantages of this system for the sponsors?</div>
<p>
Sponsors get their name associated with the success of PlayDeb. 
If they have a logo we show it on the front page with a link to their website (each sponsor's chances of being shown is equal to the percentage his contribution represents among other sponsors)
</p>
<h1>Sponsors</h1>
<table class="sponsor-table">
        <tbody>            
            <th>&nbsp;</th>
			<th>Sponsor</th>
            <th>Amount / Month</th>		
%for sponsor  in sponsors:
		<tr class="alt">				
			<td><a rel="external" href="${sponsor.url}"><img src="${media_base_url}/media/sponsors/${sponsor.id}.png" alt="${sponsor.name}"></a></td>
%if sponsor.altonly:
			<td>&nbsp;</td> 
%else:
			<td><a rel="external" href="${sponsor.url}">${sponsor.name}</a></td> 
%endif
			<td class="donation">${sponsor.ammount} €</td>  
		</tr>
%endfor
		</tbody>
</table>
<h1>Mirrors</h1>
<p>Providing a mirror is also an excelent way to support the project, we have high traffic and some large packages. If you can afford it please do not hesitate to use the contact link.<br /><br />
<b>The following entities are currently supporting us with mirrors:<br /></b><br />
<ul>
<li><a href="http://dotsrc.org/">Dotsrc.org</a> - Open Source Hosting</li>
<li><a href="http://www.heanet.ie/">http://www.heanet.ie/</a> - HEAnet L
<li><a href="http://mirror.lagoon.nc/">http://mirror.lagoon.nc/</a>- OFFRATEL - LAGOON</li>
<li><a href="http://megaglest.org/">http://megaglest.org/</a>- MegaGlest</li>
<li><a href="http://www.cse.yzu.edu.tw/">http://www.cse.yzu.edu.tw/</a>- Department of Computer Science and Engineering, Yuan-Ze University</li>
<li><a href="https://ftp.acc.umu.se/mirror/getdeb.net/">ftp.acc.umu.se/mirror/getdeb.net</a> provided by <a href="https://www.acc.umu.se/">Academic Computer Club, Umeå University, Sweden</a></li>
</ul>
</%def>

