## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()"></%def>
<%def name="title()">
${_("Mirrors")}
</%def>
<%def name="body()">
<div class="highlight">What is a sponsor?</div>
<p>
An individual, a project, a website or a company who sets up a recurring donation to help PlayDeb financially on a montly basis.<b>
</p>

<div class="highlight">How much does it costs?</div>
<p>
The amount is decided by the sponsor. The more the sponsor gives the better but the important thing is to give something.
</p>

<div class="highlight">What are the advantages of this system for PlayDeb?</div>
<p>
By sponsoring PlayDeb you contribute to giving the development team a regular and predictable income. 
This is the best form of income for PlayDeb and for its developers/packagers to start working full time on it.
<p>

<div class="highlight">What are the advantages of this system for the sponsors?</div>
<p>
Sponsors get their name associated with the success of PlayDeb. 
If they have a logo we show it on the front page with a link to their website (each sponsor's chances of being shown is equal to the percentage his contribution represents among other sponsors)
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="2LUVN5QCCSA32">
<input type="hidden" name="item_name" value="PlayDeb Sponsor">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="rm" value="1">
<input type="hidden" name="return" value="http://www.playdeb.net">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="src" value="1">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">
<input type="hidden" name="sra" value="1">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
Sponsor PlayDeb by donating <input name="a3" value="${maxval + 1}" size="3" type="text"> € per month 
<input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but29.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
</form>
<h1>Sponsors</h1>
<table class="sponsor-table">
        <tbody>            
            <th>&nbsp;</th>
			<th>Sponsor</th>
            <th>Amount / Month</th>		
%for sponsor  in sponsors:
		<tr class="alt">				
			<td><a rel="external" href="${sponsor.url}"><img src="${media_base_url}/media/sponsors/${sponsor.id}.png"></a></td>
			<td><a rel="external" href="${sponsor.url}">${sponsor.name}</a></td> 
			<td class="donation">${sponsor.ammount} €</td>  
		</tr>
%endfor
		</tbody>
</table>
<h1>Mirrors</h1>
<p>Providing a mirror is also an excelent way to support the project, we have high traffic and some large packages. If you can afford it please do not hesitate to use the contact link.<br /><br />
<b>The following entities are currently supporting us with mirrors:<br /></b><br />
<ul>
<li><a href="http://akl.lt/en">http://www.akl.lt/</a> - Open Source for Lithuania<br /></li>
<li><a href="http://darkstar.ist.utl.pt/">http://darkstar.ist.utl.pt</a> - Portuguese open source software mirror</li>
<li><a href="http://www.diotto.net/">http://www.diotto.net/</a> - Diotto.Net</li>
<li><a href="http://dotsrc.org/">Dotsrc.org</a> - Open Source Hosting</li>
<li><a href="http://www.endpoint.nu/">ENDPOINT.NU</a></li>
<li><a href="http://www.fastbull.org">http://www.fastbull.org</a> - Fastbull Association</li>
<li><a href="http://servingzone.com/">http://servingzone.com/</a> - Girl Technology Blog.</li>
<li><a href="http://www.pebosi.net">pebosi.net</a> - German mirror</li>
<li><a href="http://www.heanet.ie/">http://www.heanet.ie/</a> - HEAnet Limited, Ireland's Education and Research Network</li>
<li><a href="http://labby.co.uk/">http://labby.co.uk/</a> - LabRat's mirror</li>
<li><a href="http://www.linuxlab.it">http://www.linuxlab.it</a> - LinuxLAB IT</li>
<li><a href="http://neacm.fe.up.pt/">http://neacm.fe.up.pt/</a> - Núcleo Estudantil da ACM</li>
<li><a href="http://www.internap.com/">http://www.internap.com/</a> - Internap Network Services Corporation</li>
<li><a href="http://www.sofrench.net/">http://www.sofrench.net/</a> - SoFrench.net</li>
<li><a href="http://www.tuxli.ch/">http://www.tuxli.ch/</a>- Tuxli.ch</li>
</ul>
</%def>

