## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
<link rel="stylesheet" href="/css/welcome.css" type="text/css" media="screen" />	
</%def>
<%def name="title()">
${_("Welcome")}
</%def>
<%def name="body()">
			<div id="welcome_text1">
				<h1>Welcome to PlayDeb.net</h1>
				<p>The creators of <a href="http://www.getdeb.net" title="getdeb.net" target="_blank">getdeb.net</a> present to you our latest service
 that caters to the Ubuntu gamer.</p>
				<p>Not sure what game you want?  Just looking for something to kill some time?  All games are well categorized and we offer a 
				comprehensive search.</p>
				<p>To learn more about this project, its creators and participants, visit our "<a href="${base_url}/about">About Us</a>" page.</p>
				<p>To see what Games we recently offer, check out the "<a href="${base_url}/updates/">Games</a>" page.</p>
				<p>For other up-to-date Ubuntu software and recommendations, Check out our sister site <a href="http://www.getdeb.net" title="Getdeb.n
et" target="_blank">www.getdeb.net</a>.</p>
				<p>If you have questions, <a href="${base_url}/contact" title="Contact Playdeb">just ask!</a></p>
				<p id="sig">- PlayDeb Staff</p>
			</div>		
% if sponsor:
			<p>
			PlayDeb is sponsored by:<br>
			<a rel="external" href="${sponsor.url}"><img src="${media_base_url}/media/sponsors/${sponsor.id}.png"></a>
			<a rel="external" href="${sponsor.url}">${sponsor.name}</a>
			</p>
% endif			
			This month we are running with <span class="highlight">${sponsor_total} €</span> from sponsorship. 
			You can help us by becoming a <a href="${base_url}/sponsors/">sponsor</a> .
			</p>
			<div id="home_install">
				<p>Learn how to install games from this website by <a href="${base_url}/updates#how_to_install" title="Learn to install with playdeb">clicking here</a></p>
			</div>
			<g:plus href="https://plus.google.com/117277779496344929549" size="badge"></g:plus>
			<br style="clear:both;" />
</%def>

