## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<%def name="page_head()">
<link rel="stylesheet" href="/css/welcome.css" type="text/css" media="screen" />	
</%def>
<%def name="title()">
${_("Welcome")}
</%def>
<%def name="body()">
			<div id="welcome_text1">
				<h1>Welcome to OM-Showroom</h1>
				<p><a href="http://www.tuxbrain.com"  target="_blank">Tuxbrain</a> with the collaboration of the <a href="http://www.openmoko.org"  target="_blank">Openmoko community</a> present to you our latest service to show and promote the apps on Openmoko devices.</p>
				<p>Not sure what app you want?  Just looking for something to kill some time?  All apps are well categorised and we offer a 
				comprehensive search.</p>
				<p>To learn more about this project, its creators and participants, visit our "<a href="${base_url}/about">About</a>" page.</p>
				<p>To see the recently updates we offer, check out the "<a href="${base_url}/updates/">Explore</a>" page.</p>
				<p>If you have questions, <a href="${base_url}/contact" title="Contact Playdeb Beta">just ask!</a></p>
				<p id="sig">- OM-Showroom Staff</p>
			</div>		

			<div id="home_install">
				<p>Learn how to install games from this website by <a href="${base_url}/updates#how_to_install" title="Learn to install with OM-Showroom">clicking here</a></p>
			</div>
			<br style="clear:both;" />
</%def>

